<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for s in sorted_states_list %}
                <LI>{{ s.id }}: <B>{{ s.name }}</B>
                    <UL>
                        {% for c in s.cities %}
                            <LI>{{ c.id }}: <B>{{ c.name }}</B></LI>
                        {% endfor %}
                    </UL>
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
